{% extends "base.html" %}
{% load static %}

{% block page_content %}
  
  <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>Education – what’s next for our kids?</h2>
           <br><br>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            
            <p>The Covid-19-triggered conditional movement control order announced on Oct 14, 2020, has not only further impacted the Malaysian economy badly but also affected our children’s educational development significantly.</p>
            <p>It is obvious that children have not attended school for a total of at least six months in 2020. While the Education Ministry and teachers have been trying to implement e-classes and teach online, it is a very real fact that many kids have been left behind for various reasons, such as a lack of Internet access and electronic tools, non-systematic e-classes rolled out by schools, skipping classes, losing focus during online classes, teachers not distributing homework or providing enough guidance, etc.</p>
            <P>I would like to offer the Education Ministry a few suggestions that could help those children who are struggling.</P>
            <p>1. Offer revision classes: Kids who have not been able to attend e-classes during the MCO phases may not be able to catch up when school reopens in 2021. I suggest the ministry make revision classes for the 2020 syllabus compulsory at the end of December 2020 and early January 2021. Not every child needs to attend but it should be mandatory the every school offers these classes. Schools could test students to determine who needs these classes before the school year begins in 2021 (assuming the Covid-19 situation improves).</p>
            <p>2. Earlier opening of schools in 2021: The Education Ministry has announced that schools will only reopen on Jan 20, 2021. This is to accommodate the year-end holidays which have been pushed back to Dec 18 to allow teachers to finish the 2020 syllabus that was delayed by the earlier MCO phase from March to July 2020 when schools were closed.</p>
            <p>With the unexpected imposition of the conditional MCO in October disrupting the schedule once again, we should reconsider a Plan B for the kids. Given that the ministry has said that schools will remain closed until Dec 18, 2020, I suggest the ministry consider reopening as early as possible in 2021 if Covid-19 numbers improve by mid-December 2020. At the very least, schools should resume on Jan 2, 2021. There is no need for a further delay – kids have stayed home too much in 2020.</p>
            <p>3. Schedule systematic e-classes: There is still approximately one month of e-classes to be conducted. I have observed that some schools/ teachers have been teaching more often than others. If students are required to attend the same hours of classes under normal circumstances, why aren’t they required to do so for e-classes?</p>
            <p>I strongly urge the ministry ensures teachers offer the minimum number of hours per day/week for the same level of education, especially for schools and students generally in the same district. The number of teaching hours should not be left to the discretion of teachers. While there are many passionate and dedicated teachers, there are still some who have not maintained the necessary e-class hours during this conditional MCO phase. The ministry and schools should ensure teachers carry out their duties during the current crisis.</p>
            <p>4. Systematic distribution of classes and homework supervision: I’ve noted that e-classes and homework have not been equally distributed during the MCO phases. Are there parameters set up by the ministry or schools?Most of the homework has to be completed in exercise books but there isn’t always a requirement to submit or upload it. There also doesn’t seem to be a standard method of checking the homework unless it is electronically set. It all depends on the students’ initiative to complete the work. While parents do play a critical role in monitoring their kids’ schooling, including their homework, schools and teachers must also play their part in this, especially in relation with underprivileged parents.</p>
            <p>5. Parents’ supervision: Many parents have been complaining that their children are not able to catch up with or complete e-classes or homework. While the Education Ministry and schools may have policies to support students’ educational progress, parents need to be more proactive. Parents should play an active role in working together with teachers to ensure their children’s progress in education is on track. Although it is true that the situation of some families may not allow such supervision, most families should be able to carry out this role. Who will care about the kids if we as parents do not? Instead of complaining, let us do our part as well.</p>
            <p>Many children have been left behind since the MCO phases began. We should not allow them to continue in this state due to a lack of planning or supervision by parents, teachers or the authorities. Let’s have more thought and action on this issue.</p>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock page_content %}