{% extends "base.html" %}
{% load static %}

{% block page_content %}
  
  <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>Insightful EduWorld bridge the gap so that student can find the right school and thrive during their experience in Canada and UK.</h2>
           <br><br>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            
            <p>Our excellent network with high schools and universities helps us to deliver superlative service to students. We are here to take burden and help student achieve their dreams without worrying.</p>
            <p>Our services are designed to assist and provide the support and direction you need to achieve your dreams of studying abroad.</p>
            <P>We passionately believe that further education requires proper planning to ensure that students choose the appropriate pathway. At all times, we will ensure to provide students and parents with professional advise, service and comprehensive information about study opportunities in Canada and UK.</P>
            <p>We provide end to end service in application process and Visa processing which make us one stop shop for student overseas education.</p>
            <p>Contact us today for free consultation at info@insightfuleduworld.ca</p>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock page_content %}