{% extends "base.html" %}
{% load static %}

{% block page_content %}
  
  <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>How to help your kids spot COVID-19 misinformation</h2>
           <br><br>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            
            <p>TORONTO — Neither parents nor Canadian schools have prepared students for the deluge of misinformation circulating online during the COVID-19 pandemic, says one education expert.</p>
            <p>For the most vulnerable among us, social media can be a confusing source for information and not enough is being done to help children sift through the muck, says education strategist Dwayne Matthews.</p>
            <P>“Schools and parents have not been preparing students for this onslaught,” Matthews told CTV’s Your Morning on Monday.</P>
            <p>It’s a difficult problem, Mathews conceded, saying the lack of preparation students have had over the last decade is understandable. The growth of social media was rapid. Just 15 years ago, Twitter didn’t yet exist. Today, it has more than 300 million active users worldwide.</p>
            <p>While genuine, trusted news agencies do use social media platforms, sites like Twitter and Facebook are also overrun by bots, automated software that tweets, posts and interacts like a regular user. In 2017, researchers from the University of Southern California and Indiana University found that as much as 15 per cent of Twitter was actually made up of bot accounts, which accounted for close to 48 million accounts at the time.</p>
            <p>WHAT TO LOOK OUT FORThere is a way through the misinformation, said Matthews, and it begins with identifying red flags on social media. There are four key problems to explain to children.</p>
            <p>One common social media occurrence is “rage baiting,” which is used “to get people really, really angry and to think slower than they speak,” said Matthews. It’s easy to spot. For example, if you look through tweets on a subject, you might find most answers follow one general path. But then there’s one that goes in a totally different direction. It might be useful to investigate that person’s profile for red flags, suggested Matthews. You might find they only have five followers and it was a recently opened account. That’s a likely rage-baiter.</p>
            <p>Another common occurrence online, which Matthews says was prominent during recent U.S. elections and is evident in Canada too, is “hyper-partisanship,” characterized by a lack of compromise and irrational argument. It’s “a move away from centre-left and centre-right and to the extremes,” he said. “Lots and lots of arguments back and forth that are not necessarily based in logic but based in anger and what’s called ad hominem, where they attack the speaker.” Phishing scams are also important to identify online. They are a “conman trick” in which people are contacted by someone posing as a legitimate group or institution. “These scams have been around for a while, it’s probably one of the biggest ways we have cybersecurity openings,” said Matthews.</p>
            <p>Finally, the emerging technology of “deepfakes” is perhaps the most modern of problems for people to identify. This is when artificial intelligence is used to mimic someone’s face and voice and doctor videos in a deceptive way to the point where it is a challenge to identify whether the subject of a video is the actual person or not. The number of deepfake videos has skyrocketed in recent years. From 2018 to 2019, the numbers rose by 84 per cent online, according to one research group. In 2019, there were concerns that this type of manipulation could even impact the Canadian federal election.</p>
            <p>As the nation’s students continue to adapt to new ways of physically distant learning, officials have opted for a slow, measured approach to combat the spread of COVID-19 in the education system, but parents and teachers should combat misinformation with a speedier strategy, suggests Matthews.</p>
            <p>“It’s a big, big problem. It’s moving very fast,” he said. “It has implications on education and national security.”</p>

            <p>Canadian students have been left unprepared by parents and schools to face the onslaught of misinformation circulating online during the COVID-19 pandemic, according to one education expert, who suggests teaching children how to spot ‘rage baiting,’ ‘hyper-partisanship,’ phishing scams and ‘deepfake’ videos. (Pexels/Julia M Cameron)</p>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock page_content %}