{% extends "base.html" %}
{% load static %}

{% block page_content %}
  
  <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>Educational resources is a support, a complementary element, and key to education.</h2>
           <br><br>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            
            <p>We know that parents want the best possible education for their children, that is the reason why we provide educational resources that will encourage and motivate children in the learning process and enhance them in different areas like cognitive, emotional, and social development.</p>
            <p>Watch out on this page for weekly recommended educational resources for children of all ages.</p>
            <P>For this week we recommend for Beaker Creatures® Monsterglow Lab By LearningResources.com</P>
            <p>This real working kids’ experiment lab set helps your little creatures scientists build fun STEM skills with experiments inspired by biology, chemistry, and astronomy! Explore the 20-page full-color experiment booklet to learn facts about bioluminescence, make your own glowing slime and cobwebs, and more! There are more than 20 spooky experiments to master! The Beaker Creatures Monsterglow Lab includes exclusive creature lab components – spin up your glowing creations with the twisting, twirling centrifuge, or activate your black light blaster to trigger a glowing reaction. The Beaker Creatures Monsterglow Lab also comes with two Beaker Creatures Reactor Pods featuring collectible glow-in-the-dark Monsterglow creatures to add to your Beaker Creatures collection!</p>
            <p>https://www.pntrs.com/t/8-10961-228775-141035?url=https%3A%2F%2Fwww.learningresources.com%2Fbeaker-creatures-monsterglow-lab</p>
            <p>Get one for your children during this Christmas.</p>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock page_content %}