{% extends "base.html" %}
{% load static %}

{% block page_content %}
 <!-- Page breadcrumb -->
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>
           <h2>Study Abroad Educational Service.</h2>

           <br><br>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

 <!-- Start contact  -->
 <section id="mu-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-contact-area">
          
          <!-- start contact content -->
          <div class="mu-contact-content">           
            <div class="row">
              <div class="col-md-6">
                <div class="mu-contact-left">
                  <p>For students who want to study abroad, we can help them in securing high school, undergraduate admission and accommodation. We give students more empowered approach to study here in Canada and in UK.</p>

                  <p>Insightful EduWorld bridge the gap so that student can find the right school and thrive during their experience in Canada and UK.</p>

                  
                  <p>Our excellent network with high schools and universities helps us to deliver superlative service to students. We are here to take burden and help student achieve their dreams without worrying.</p>
                  
                </div>
              </div>
              <div class="col-md-6" >
                <div class="mu-contact-left">
                  <img src="{% static 'assets/img/study.jpeg' %}" width="100%" height="100%" style="border-radius: 20px;">
                  <br>
                </div>
              </div>
              <div class="col-md-6" style="margin-top: 20px;">
                <div class="mu-contact-right">
                  <p>Our believe is that private tutoring can offer a lot to any child it can help, stretch, develop and challenge them to learn more and be academically sound.</p>

                  <p>Our tutors listen to children and focus on their strength and provide learning that will suit their personalities at every step.</p>

                  
                  <p>We have teachers for different subjects like, Mathematics, English Language, French Language, Chemistry, Physics, Biology, Financial Accounting.</p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="mu-contact-right" style="background-color: #25026C; border-radius: 20px; margin-top: 20px; padding: 8px 16px;">
                  <h3 style="color: #fff; font-weight: 600;">Our Services</h3>
                  <ul style="list-style: circle; padding: 8px 16px;">
                    <li style="color: #fff;">Free consultation.</li>
                    <li style="color: #fff;">High school admission.</li>
                    <li style="color: #fff;">Undergraduate admission.</li>
                    <li style="color: #fff;">Accommodations or Boarding school.</li>
                    <li style="color: #fff;">Visa Application support service.</li>
                    
                  </ul>
                  
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <div class="mu-contact-right">
                  <p>We provide end-to-end service in the application process and Visa processing which make us one-stop shop for student overseas education.</p>
                  <br>
                  
                </div>
              </div>
              
              <div class="col-md-12">
                <br>
                <div class="col-md-6">
                <div class="mu-contact-right">

                  <h3>Would you like to know more about this service? Please feel free to talk to us</h3>
                  
                </div>
              </div>
                <div class="col-md-6">
                <div class="mu-contact-right">
                  
                  <a class="mu-read-more-btn" href="{% url 'contact'%}" style="background-color: #25026C">Contact Us Rightaway</a>
                  
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- end contact content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End contact  -->

{% endblock page_content %}