{% extends "base.html" %}
{% load static %}

{% block page_content %}
  
  <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}');">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2 style="color: #fff;">Summer Camps</h2>
           <br><br>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-12">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    {% for summer in summers %}
                    <div class="col-md-6 col-sm-6" style="height: 550px; min-height: 550px; max-height: 550px">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <img src="{{ summer.img.url }}" alt="img" height="300px" width="100%">
                          <figcaption class="mu-blog-caption">
                            <h2 style="font-weight: 400;">{{ summer.title | truncatechars:50 }} {{ summer.year }}</h2>
                          </figcaption>                      
                        </figure>
                        
                        <div class="mu-blog-description">
                          <p>{{ summer.body | safe | truncatewords:20}}</p>
                          <a class="mu-read-more-btn" href="{% url 'camp' summer.id %}">Read More</a>
                        </div>
                      </article> 
                    </div>                  
                   {% endfor %}
                    
                  </div>
                </div>
                <!-- end course content container -->
                
              </div>
            
              
         </div>
       </div>
     </div>
   </div>
 </section>

  {% endblock page_content %}