{% extends "base.html" %}
{% load static %}

{% block page_content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>Summer Camp</h2>

           <br><br>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            
            <p>Insightful Eduworld Summer Camp will commence in the month of July and end in early September. We have 3 programs for this year summer camp, namely, Reading Camp, French Language Camp and Website design Camp</p>
            <p>During our French Camp, we will be focusing on the 4 core aspects of French language, Speaking, reading, listening and writing. During this 2 weeks camp, children will have the opportunity to develop their French language skills through interactive lessons, games, and activities.</p>
            <p>We have limited the number of the campers per classes, so that they will be adequately taught and have a good experience during the program. We have top notch professional teachers that love children and are ready to put the children’s interest first.</p>
            <p>Our reading Camp, will be an interesting one, where different books will be read each week and while reading, children will develop more vocabularies and their passion to read books will increased by the end of their camp experience. We will also encourage the children to be future authors.</p>
            <p>Our web design Camp, As we all know that, technology use among children can not be over emphasized. This as become ever more ingrained in the world and we can boldly say that, this is going to be a very good program for the children to understand how the contents are been connected through digital operation.</p>
            <p>Our Web design campers will be taught the key language that is used to build website, which are HTML,CSS, and JavaScript. Our teachers and consultants will be teaching with the most recent updates of each language to ensure that they are familiar with the latest technology.</p>
            <h5>Contact us for more information.</h5>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock page_content %}