{% extends "base.html" %}
{% load static %}

{% block page_content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb" style="background-image: url('{% static 'assets/img/summer.png' %}')">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
          <br><br>

           <h2>Summer 2022</h2>
           
           <br><br>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

  <!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            <p>Our 2022 summer program will commence in the month of August and end in early September. We have varieties of programs for this year summer camp, namely, Reading Camp, French Language Camp and Python and Website design Camp.</p>
            <p>We are introducing our 2 days Niagara fun tagged “Explore Niagara”, 2 days of fun activities and exploring interesting places in Niagara region Ontario Canada. We welcome children from different part of the world to come and experience Niagara with us.</p>
            <span>Share this:</span>
            
          </div>
          <div>
            <a class="mu-post-btn" href="https://twitter.com/Insightful_edu"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="mu-post-btn" href="https://www.facebook.com/insightfuleduworld"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->


{% endblock page_content %}